#taskBar{
    background-color: white;
    color: black;
    user-select: none ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#vosLogo{
    margin-left: 10px;
    display: flex;
    width: 34px;
    height: 34px;
    align-items: center;
}

#userGreetingDiv{
    white-space: nowrap;
    margin-left: 10px;
}
#userGreetingName{
    font-weight: 700;
}