.navigatorContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/navbg.jpg');
    background-size: cover;
    background-color: black;
    overflow: hidden;
  }
  
  .userLocationIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
    user-select: none;
  }
  
  .locationDiv {
    position: absolute;
    border-radius: 50px;
    background-color: white;
    -webkit-box-shadow:0px 0px 50px 8px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 50px 8px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 50px 8px rgba(45,255,196,0.9);
    transition-duration: 200ms;
  }

.locationDiv:hover{
    transform: scale(250%);
}

  .locationSize1{
    width: 3px;
    height: 3px;
  }
  .locationSize2{
    width: 4px;
    height: 4px;
  }
  .locationSize3{
    width: 5px;
    height: 5px;
  }
  .locationSize4{
    width: 7px;
    height: 7px;
  }

  .destinationImg{
max-width: 500px;
justify-items: center;
align-self:center;
z-index: 1;
  }

  .destinationDetails{
    margin-right: 5px;
    border-right: 1px solid black;
    color: black;
  }

.destinationDetails h2{
    text-align: center;
}
.destinationButtonDiv{
    position:relative;
    display: block;
    width: 0px;
    height: 0px;
    z-index: 10;
}
.destinationDetails button{
    z-index: 10;
    border: 1px solid white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition-duration: 200ms;
    height: 30px;
    background-color: transparent;
    box-shadow: -2px 2px 0px 1px #343434;
    -webkit-box-shadow: -2px 2px 0px 1px #343434;
    -moz-box-shadow: -2px 2px 0px 1px #343434;
    cursor: pointer;
    white-space: nowrap;
}
.destinationDetails button:hover{
    background-color: rgba(255, 255, 255, 0.221);
}
.destinationDetails button:active{
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: none;
    box-shadow: -1px 1px 0px 1px #343434;
    -webkit-box-shadow: -1px 1px 0px 1px #343434;
    -moz-box-shadow: -1px 1px 0px 1px #343434;
    margin-left: 4px;
}
.destinationPlanetBg{
    background-image: url('../../assets/images/navbg.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    z-index: 1;
}
.destinationDetails p{
    margin:0;
    padding: 10px;

}